# https://docs.github.com/en/actions/tutorials/use-actions-runner-controller/quickstart
name: "Copilot Setup Steps"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  copilot-setup-steps:
    # runs-on: arc-runner-set
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"
          cache: "npm"

      - name: Install JavaScript dependencies
        run: npm ci

      # https://github.com/orgs/community/discussions/177903
      # - name: Add GitHub host environment variable
      #   run: echo "GITHUB_HOST=github.com" >> $GITHUB_ENV
